pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
log/*
resources/*
dev-target/*
.idea/*
.dir-locals.el
.lein-env
doppelanger.iml
Procfile
system.properties
