/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.idea/ClojureProjectResolveSettings.xml
/.idea/doppelanger-server.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
